name: MakaMek Core Library
on:
  push:
    branches:
      - main
  pull_request:

  workflow_dispatch:
env:
  NuGetDirectory: ${{ github.workspace}}/nuget
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.x

      - name: Run Core tests
        run: dotnet test tests/MakaMek.Core.Tests/MakaMek.Core.Tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:ExcludeByAttribute=GeneratedCodeAttribute /p:Include=[Sanet.MakaMek.Core]*

      - name: Upload Core tests results
        run: bash <(curl -s https://codecov.io/bash) -f "tests/MakaMek.Core.Tests/coverage.opencover.xml" -t ${{ secrets.CODECOV_TOKEN }}
  
  publish-nuget:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.x'

      - name: Create nuget packages
        run: |
          dotnet pack src/MakaMek.Core/MakaMek.Core.csproj --configuration Release --output ${{ env.NuGetDirectory }}

      - name: Publish NuGet package
        run: |
          for file in "${{ env.NuGetDirectory }}"/*.nupkg; do
            dotnet nuget push "$file" --api-key "${{ secrets.NUGET_APIKEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
          done